@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-coral to-pink-500 bg-clip-text text-transparent;
  }
}
